<html>
    <head>
        <title>My Project</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
        <div class='container'>
            <h1>Word Counter</h1>
            <h3>Go ahead and enter a word and a sentence or even a paragraph. You will be able to see how many times the word you chose appears within the sentence/paragraph.</h3>
          
        </div>
    </body>
</html>
