<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>Word Counter</title>
    </head>
    <body>
        <center><div class="container">
            <h1>Word Count:</h1>

            <h4>{{ count }}</h4>
        </div>
        <form class="center" action="/">
            <button type="submit" class="btn btn-danger">Home</button>
        </form>
        </center>
    </body>
</html>
